<div class="flex flex-col justify-between gap-4 sm:flex-row pb-2">
  <div>
    <input
      hlmInput
      class="w-full md:w-64"
      [placeholder]="'placeholder.search' | transloco"
      [ngModel]="_colFilter()"
      (ngModelChange)="_rawFilterInput.set($event)"
    />
  </div>
  <div class="flex gap-2">
    <div *ngIf="tabs.length > 0">
      <hlm-tabs [tab]="tabs[0]" class="w-full">
        <hlm-tabs-list class="w-full flex">
          <button
            *ngFor="let tab of tabs"
            class="capitalize"
            [hlmTabsTrigger]="tab"
            (click)="setFilter(tab)"
          >
            {{ tab }}
          </button>
        </hlm-tabs-list>
      </hlm-tabs>
    </div>
    <div>
      <button hlmBtn variant="outline" align="end" [brnMenuTriggerFor]="menu">
        {{ 'placeholder.columns' | transloco }}
        <ng-icon hlm name="lucideChevronDown" class="ml-2" size="sm" />
      </button>
      <ng-template #menu>
        <hlm-menu>
          @for (columnOpt of _columnOptions(); track columnOpt.name) {
            <button
              hlmMenuItemCheckbox
              class="capitalize"
              [checked]="columnOpt.selected"
              (click)="toggleColumnVisibility(columnOpt.name)"
            >
              <hlm-menu-item-check></hlm-menu-item-check>
              <span>{{ `column.${columnOpt.name}` | transloco }}</span>
            </button>
          }
        </hlm-menu>
      </ng-template>
    </div>
  </div>
</div>

<brn-table
  hlm
  stickyHeader
  class="border-border mt-4 block h-[calc(100vh-250px)] overflow-auto rounded-md border"
  [dataSource]="_filteredSortedPaginatedItems()"
  [displayedColumns]="_allDisplayedColumns()"
  [trackBy]="_trackBy"
>
  <brn-column-def name="id" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{ 'column.id' | transloco }}</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.id }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="request_id" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.request_id' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.id }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="created_pod_namespace" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{ 'column.created_pod_namespace' | transloco }}</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.bound_pod_namespace }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="pod_name" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{ 'column.pod_name' | transloco }}</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.pod_name }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="node_name" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{ 'column.node_name' | transloco }}</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.node_name }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="namespace" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{ 'column.namespace' | transloco }}</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.namespace }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="queue_name" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.queue_name' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.queue_name }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="alert_type" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.alert_type' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.alert_type }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="alert_description" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.alert_description' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.alert_description }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="pod_id" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{ 'column.pod_id' | transloco }}</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.pod_id }}</p>
    </hlm-td>
  </brn-column-def>

  <brn-column-def name="demand_cpu" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.demand_cpu' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.demand_cpu }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="action_type" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.action_type' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <span
        [class]="`${getStatusColor(element.action_type)} capitalize`"
        hlmBadge
      >{{ element.action_type }}</span
      >
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="bound_pod_name" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.bound_pod_name' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.bound_pod_name }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="pod_parent_name" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.pod_parent_name' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.pod_parent_name }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="action_reason" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.action_reason' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.action_reason }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="demand_memory" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.demand_memory' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.demand_memory }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="pod_parent_kind" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.pod_parent_kind' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.pod_parent_kind }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="node_id" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{ 'column.node_id' | transloco }}</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.node_id }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="decision_status" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.decision_status' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm text-gray-500">{{ element.is_decision_status }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="created_at" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.created_at' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <div class="flex flex-col">
        <p class="text-sm text-gray-500">
          {{ element.created_at | date : 'dd/MM/yyyy' }}
        </p>
        <p class="text-xs text-gray-400">
          {{ element.created_at | date : 'HH:mm:ss' }}
        </p>
      </div>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="action_start_time" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.action_start_time' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <div class="flex flex-col">
        <p class="text-sm text-gray-500">
          {{ element.action_start_time | date : 'dd/MM/yyyy' }}
        </p>
        <p class="text-xs text-gray-400">
          {{ element.action_start_time | date : 'HH:mm:ss' }}
        </p>
      </div>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="action_end_time" class="w-64">
    <hlm-th truncate *brnHeaderDef>{{
        'column.action_end_time' | transloco
      }}
    </hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <div class="flex flex-col">
        <p class="text-sm text-gray-500">
          {{ element.action_end_time | date : 'dd/MM/yyyy' }}
        </p>
        <p class="text-xs text-gray-400">
          {{ element.action_end_time | date : 'HH:mm:ss' }}
        </p>
      </div>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="cluster_name" class="w-64">
    <hlm-th truncate *brnHeaderDef>Cluster Name</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <p class="text-sm mb-1">{{ element.cluster_name }}</p>
      <p class="text-sm text-gray-500">{{ element.id }}</p>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="action_status" class="w-32 sm:w-40">
    <hlm-th truncate *brnHeaderDef>{{ 'column.status' | transloco }}</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <span [class]="`${getStatusColor(element.status)} capitalize`" hlmBadge>{{
          element.action_status
        }}</span>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="status" class="w-32 sm:w-40">
    <hlm-th truncate *brnHeaderDef>{{ 'column.status' | transloco }}</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <span [class]="getStatusColor(element.status)" hlmBadge>{{
          element.status
        }}</span>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="workloads" class="w-32 sm:w-40">
    <hlm-th truncate *brnHeaderDef>Workloads</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      {{ element.workloads }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="nodes" class="w-32 sm:w-40">
    <hlm-th truncate *brnHeaderDef>Nodes</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      {{ element.nodes }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="cpu_usage" class="w-32 sm:w-40">
    <hlm-th truncate *brnHeaderDef>CPU Usage</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <span [class]="getProgressColor(element.cpu_usage)">
        <app-circle-progress
          [progress]="element.cpu_usage"
          [size]="20"
          [strokeWidth]="2"
          [backgroundColor]="'#e6e6e6'"
        >
          <div class="ml-14">
            <span class="text-sm">{{ element.cpu_usage }}%</span>
          </div>
        </app-circle-progress>
      </span>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="memory_usage" class="w-32 sm:w-40">
    <hlm-th truncate *brnHeaderDef>Memory Usage</hlm-th>
    <hlm-td
      (click)="hasRowAction ? onRowClick(element) : null"
      [class.cursor-pointer]="hasRowAction"
      truncate
      *brnCellDef="let element"
    >
      <span [class]="getProgressColor(element.memory_usage)">
        <app-circle-progress
          [progress]="element.memory_usage"
          [size]="20"
          [strokeWidth]="2"
          [backgroundColor]="'#e6e6e6'"
        >
          <div class="ml-14">
            <span class="text-sm">{{ element.memory_usage }}%</span>
          </div>
        </app-circle-progress>
      </span>
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="actions" class="w-16">
    <hlm-th *brnHeaderDef>{{ 'column.actions' | transloco }}</hlm-th>
    <hlm-td *brnCellDef="let element">
      <button
        hlmBtn
        variant="outline"
        class="h-8 w-8 p-0.5"
        align="end"
        [brnMenuTriggerFor]="menu"
      >
        <ng-icon hlm size="sm" name="lucideEllipsisVertical" />
      </button>

      <ng-template #menu>
        <hlm-menu class="w-52">
          <!-- TODO: replace with region aws -->
          <hlm-menu-label>{{ 'column.actions' | transloco }}</hlm-menu-label>
          <hlm-menu-separator />
          <hlm-menu-group>
            <a
              *ngFor="let action of _actions()"
              hlmMenuItem
              class="flex gap-2"
              [routerLink]="`./${element.id}`"
              [state]="element"
            >
              <ng-icon hlm size="sm" [svg]="ACTION_ICONS[action]" />
              <span>{{ `action.${action}` | transloco }}</span>
            </a>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
    </hlm-td>
  </brn-column-def>

  <div
    class="flex items-center justify-center p-20 text-muted-foreground"
    brnNoDataRow
  >
    {{ 'hint.no_data' | transloco }}
  </div>
</brn-table>
<div
  class="flex flex-col justify-between mt-4 sm:flex-row sm:items-center"
  *brnPaginator="
    let ctx;
    totalElements: _totalElements();
    pageSize: _pageSize();
    onStateChange: _onStateChange
  "
>
  <div class="flex items-center justify-between w-full">
    <brn-select
      placeholder="{{ _availablePageSizes[0] }}"
      [(ngModel)]="_pageSize"
    >
      <hlm-select-trigger class="inline-flex mr-1 w-20 h-9">
        <hlm-select-value />
      </hlm-select-trigger>
      <hlm-select-content>
        @for (size of _availablePageSizes; track size) {
          <hlm-option [value]="size">
            {{ size === 10000 ? 'All' : size }}
          </hlm-option>
        }
      </hlm-select-content>
    </brn-select>

    <div class="flex gap-2">
      <button
        size="sm"
        variant="outline"
        hlmBtn
        [disabled]="!ctx.decrementable()"
        (click)="ctx.decrement()"
      >
        {{ 'action.previous' | transloco }}
      </button>
      <button
        size="sm"
        variant="outline"
        hlmBtn
        [disabled]="!ctx.incrementable()"
        (click)="ctx.increment()"
      >
        {{ 'action.next' | transloco }}
      </button>
    </div>
  </div>
</div>
