<div class="min-h-screen bg-background flex">
  <hlm-sidebar [collapsible]="'icon'" [variant]="'sidebar'" class="sidebar">
    <div hlmSidebarHeader class="p-4">
      <div class="flex gap-2">
        <span class="logo">
          <img src="/logo.svg" />
        </span>
        <div
          [class.hidden]="sidebarService.state() === 'collapsed'"
          class="mt-[2px]"
        >
          <h1 class="text-sm font-semibold leading-none">
            {{ 'app.title' | transloco }}
          </h1>
          <p class="text-xs text-gray-700">
            {{ 'app.description' | transloco }}
          </p>
        </div>
      </div>
    </div>

    <div hlmSidebarContent class="p-2">
      <ul hlmSidebarMenu *ngFor="let group of menuItems">
        <li
          class="menu-item-group font-medium text-xs text-gray-500 px-2"
          [class.hidden]="sidebarService.state() === 'collapsed'"
        >
          {{ `section.${group.label}` | transloco }}
        </li>
        <li *ngFor="let item of group.items" hlmSidebarMenuItem class="mb-1">
          <a
            hlmSidebarMenuButton
            [routerLink]="group.route + item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center gap-2 font-normal menu-item-link p-2 [.active]:bg-gray-100 rounded-md"
          >
            <ng-icon
              *ngIf="item.icon"
              hlm
              size="sm"
              [name]="item.icon"
            ></ng-icon>
            <span [class.hidden]="sidebarService.state() === 'collapsed'">{{
                  `section.${item.label}` | transloco
            }}</span>
          </a>
        </li>
      </ul>
    </div>
  </hlm-sidebar>

  <main class="flex flex-col h-screen w-full">
    <div class="h-16 top-0 border-b-1 border-gray-200 flex items-center">
      <div class="flex items-center px-8 flex-auto gap-2">
        <hlm-sidebar-trigger></hlm-sidebar-trigger>
        <brn-separator
          class="h-8"
          decorative
          hlmSeparator
          orientation="vertical"
        />
        <span>
          <app-header></app-header>
        </span>
      </div>
    </div>

    <div class="container mx-auto px-4 py-6">
      <router-outlet />
    </div>
  </main>
</div>
