<div class="p-4">
  <div *ngIf="data && (data | keyvalue).length > 0; else noData">
    <div *ngFor="let item of data | keyvalue" class="mb-2 p-2 border-b">
      <div class="flex justify-between">
        <span class="font-medium">{{ `column.${item.key}` | transloco }}:</span>
        <span
          [class.text-green-600]="
            getValueType(item.value) === 'boolean' && item.value
          "
          [class.text-red-600]="
            getValueType(item.value) === 'boolean' && !item.value
          "
          [class.text-blue-600]="getValueType(item.value) === 'number'"
          [class.text-gray-700]="getValueType(item.value) === 'string'"
        >
          <span *ngIf="getValueType(item.value) === 'date'" class="text-right">
            <div class="text-sm">{{ item.value | date : 'dd/MM/yyyy' }}</div>
            <div class="text-xs text-gray-400">
              {{ item.value | date : 'HH:mm:ss' }}
            </div>
          </span>
          <span *ngIf="getValueType(item.value) !== 'date'">
            {{ item.value }}
          </span>
        </span>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <p>No data available</p>
  </ng-template>
</div>
