<div class="p-4 space-y-4">
  <h1 class="text-2xl font-bold mb-4">{{ 'common.title' | transloco }}</h1>
  
  <div class="space-y-2">
    <button hlmBtn>{{ 'buttons.button' | transloco }}</button>
    <button hlmBtn variant="outline">{{ 'buttons.outline' | transloco }}</button>
    <button hlmBtn variant="ghost">{{ 'buttons.ghost' | transloco }}</button>
    <button hlmBtn variant="link">{{ 'buttons.link' | transloco }}</button>
    <button hlmBtn size="sm">{{ 'buttons.small' | transloco }}</button>
    <button hlmBtn size="lg">{{ 'buttons.large' | transloco }}</button>
  </div>
  
  <div class="space-y-2">
    <input hlmInput type="text" />
    <input hlmInput type="text" [placeholder]="'inputs.placeholder' | transloco" />
    <input hlmInput type="text" [placeholder]="'inputs.placeholder' | transloco" />
  </div>
</div>